@import 'bootstrap-icons/font/bootstrap-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    direction: rtl;
}

@font-face {
    font-family: Kanit;
    src: url("../fonts/Kanit/Kanit-Medium.ttf");
}

@font-face {
    font-family: Kanit-Thin;
    src: url("../fonts/Kanit/Kanit-Thin.ttf");
}

@font-face {
    font-family: Kanit-Bold;
    src: url("../fonts/Kanit/Kanit-Bold.ttf");
}

@font-face {
    font-family: Kanit-ExtraBold;
    src: url("../fonts/Kanit/Kanit-ExtraBold.ttf");
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir/Vazir.ttf");
}

@font-face {
    font-family: Vazir-Thin;
    src: url("../fonts/Vazir/Vazir-Thin.ttf");
}

@font-face {
    font-family: Vazir-Medium;
    src: url("../fonts/Vazir/Vazir-Medium.ttf");
}

@font-face {
    font-family: Vazir-Bold;
    src: url("../fonts/Vazir/Vazir-Black-FD.ttf");
}


